.App {
  text-align: center;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-nav {
  height: 3em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


.login-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-component > * {
  margin: 10px;
}

.box-input {
  border: none;
  margin: 10px 0;
  border-radius: 12px;
}

.form-login {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4em;
  border-radius: 5px;
}

.form-login a {
  margin-top: 30px;
  color: black;
}

.card-activity {
  background-color: #F7E185;
  height: 40px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 26px;
  margin: 14px 0;
  position: relative;
  transition: 300ms;
}

.card-activity:hover {
  background-color: #ffc107;
  height: 40px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 6px;
  border: 5px solid #ffc107;
  margin: 14px 0;
  position: relative;
}

.activity-name {
  font-size: 17px;
  margin: 0;
}



.btn-concierge {
  color: black;
}

.new-booking-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 9px;
  background-color: white;
}

.new-booking-form select {
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 10px 0;
  outline: #F7E185;
}

.main-form-section {
  flex-direction: column;
  background-image: linear-gradient(to top, #f786b3, #ff959b, #ffab88, #ffc67e, #f7e185);
  height: 100vh;
}

.form-new-bookin {
  display: flex;
  flex-direction: column;
}

.form-new-bookin > * {
  margin: 10px;
  border-radius: 9px;
  border: none;
  height: 3em;
  outline: none;
}

.multiple-selection-travell {
  height: 300px;
}

#mainNav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-bookings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.card-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../src/background-ticket.jpeg'); */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  /* background-color: #F54748; */
  background-color: #FF5151;
  height: 220px;
  width: 60vw;
  position: relative;
  right: -6%;
}

.card-event > * {
  margin: 0;
}

.one-activity-component { 
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.name-activity {
  margin-top: 1em;
  border-bottom: 4px solid #ffc107;
}


.home-component-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 100%;
  height: 100vh;
}

.home-component-main::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



.side-bar-activities {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #f786b3, #ff959b, #ffab88, #ffc67e, #f7e185);
}

.activities-from-location {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 100%;
  border-radius: 20px;
  border-left: 5px solid #ffc107;
  margin: 20px 0;
  padding: 10px 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.all-activities-container {
  display: flex;
  flex-direction: column;
  /* border: 4px solid #ffc107; */
  padding: 2em;
  border-radius: 16px;
  height: 55vh;
  width: 60vw;
  display: flex;
  overflow: scroll;
  /* background-color: white; */
}

.form-for-selecting-activities select {
  border: none;
  outline: none;
}



.title-header-activities-location {
  position: absolute;
  top: 20vh;
}

.instructions-form-activities-event {
  position: absolute;
  top: 10vh;
}

.instructions-of-activities-event {
  position: absolute;
  top: 27vh;
}


.all-activities-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.footer-selecting-activities {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.landing-page-vagabond {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1)), url("https://images.unsplash.com/photo-1539056508925-ac839ab1d69a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1655&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.landing-motto {
  position: relative;
  top: 25vh;
}

.button-to-action {
  width: 180px;
  height: 60px;
  position: relative;
  top: 30vh;
  font-size: 20px;
}

.frame-location-photo {
  height: 270px;
  width: 270px;
  margin: 20px;
  border-color: white;
  border-radius: 9px;
  border-bottom: 40px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.city-location {
  position: absolute;
  bottom: -48px;
}

.main-section-allbookings {
  flex: 4;
  overflow: scroll;
  flex-direction: column;
}

.destination-ticket {
  position: absolute;
  left: 1em;
  border-right: 5px dashed white;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.unique-id {
  position: absolute;
  /* transform: rotate(-90deg); */
  font-style: italic;
  bottom: 0px;
  right: 5px;
  margin: 0;
  font-size: 11px;
  background-color: white;
  border-radius: 10px;
  padding: 1px 2px;
}

.agent-name {
  background-color: white;
  border-radius: 20px;
  padding: 1px 2px;
  position: absolute;
  bottom: 62px;
  font-size: 13px;
  right: 5px;
}

.purchased-date {
  background-color: white;
  border-radius: 20px;
  padding: 1px 2px;
  position: absolute;
  font-size: 13px;
  bottom: 30px;
  right: 5px;
}

.number-of-passengers {
  background-color: white;
  border-radius: 20px;
  padding: 3px 5px;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  left: 5px;
}

.boarding-pass {
  background-color: white;
  border-radius: 20px;
  padding: 3px 5px;
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 10px;
  font-weight: bolder;
}

.type-traveller {
  background-color: white;
  border-radius: 20px;
  padding: 3px 5px;
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 10px;
  font-weight: bolder;
}

.traveller-name {
  background-color: white;
  border-radius: 16px;
  padding: 3px 5px;
  position: absolute;
  font-size: 20px;
}

.header-title-form {
  position: absolute;
  top: 1em;
}

.manager-new-activity {
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #f786b3, #ff959b, #ffab88, #ffc67e, #f7e185);
}

.manager-new-activity > * {
  margin: 10px;
}

.manager-new-activity input {
  margin: 10px;
  border: none;
  background-color: white;
  border-radius: 20px;
  outline: none;
}

.main-appointments {
  flex-direction: column;
}

.button-journey {
  position: absolute;
  height: 220px;
  right: -50px;
  background-color: #293B5F;
  color: white;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.button-journey:hover {
  color: white;
  font-weight: bolder;
}

.calendar {
  margin-top: 20px;
  border-radius: 20px;
}

.display-info-journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  border-radius: 7px;
  width: 60%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
  border: 3px solid #293B5F;
  background-color: #C7D2E7;
}

.header-journey-event-file {
  position: absolute;
  top: 0px;
  padding: 2px;
  border-bottom: 3px;
  width: 40vw;
  border-bottom: 4px solid #293B5F;
  border-color: #293B5F;
}

.activity-paraph {
  background-color: white;
  border-radius: 20px;
  padding: 4px;
  text-align: left;
}

.image-for-journey {
  height: 170px;
  width: 170px;
  border-radius: 100%;
  margin: 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  top: 10px;
}

.container-images-journey-popup {
  position: relative;
  top: 40px;
}


.card-activity-index-home {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 4px solid;
  border-color: #ffc107;
}

.home-component-main-index-activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #f786b3, #ff959b, #ffab88, #ffc67e, #f7e185);
  height: 100vh;
}

.side-bar-tickeout-activities {
  flex: 1;
  position: fixed;
  width: 20vw;
  left: 20px;
  flex-direction: column;
  background-color: #293B5F;
  border-radius: 120px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.side-bar-tickeout-activities > * {
  margin: 1em 0;
}

.ticket-for-journey {
  background-color: white;
  border-radius: 9px;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-for-points {
  background-color: white;
  border-radius: 9px;
}

.ticket-for-money {
  background-color: white;
  border-radius: 9px;
}

.ticket-for-journey > * {
  margin: 0px;
}

.legend-not-found {
  margin: 0;
}

.color-div-1 {
  background-color: #ffc107;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -130px;
  right: 60px;
}
.color-div-2 {
  background-color: #ffc107;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -130px;
  right: 30px;
}
.color-div-3 {
  background-color: #ffc107;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -130px;
  right: 0px;
}

.points-legend {
  position: absolute;
  font-size: 20px;
  bottom: 30%;
  width: 60%;
}

.price-legend {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  width: 60%;
}
