.App {
  text-align: center;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-component {
  flex-direction: column;
  background-color: #F7E185;
}

a {
  text-decoration: none;
  color: black;
}

.one-activity-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-component > * {
  margin: 10px;
}

.box-input {
  border: none;
  margin: 10px 0;
  border-radius: 12px;
}

.form-login {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4em;
  border-radius: 5px;
}

.form-login a {
  margin-top: 30px;
  color: black;
}

.card-activity {
  background-color: white;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  margin: 10px 0;
}

.btn-concierge {
  color: black;
}

.new-booking-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 9px;
  background-color: white;
}

.new-booking-form select {
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 10px 0;
  outline: #F7E185;
}

.main-form-section {
  flex-direction: column;
  background-color: #F7E185;
}

.form-new-bookin {
  display: flex;
  flex-direction: column;
}

.form-new-bookin > * {
  margin: 10px;
  border-radius: 9px;
  border: none;
  height: 3em;
  outline: none;
}

.multiple-selection-travell {
  height: 300px;
}

#mainNav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-bookings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.card-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 9px;
  background-color: white;
  height: 150px;
}

.card-event > * {
  margin: 0;
}

